@import '../../theme/variables.scss';

.Navigation {
    background-color: $DARK_BACKGROUND;
    height: $MAIN_NAV_HEIGHT;
    border-bottom: $NAV_BORDER;

    nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;

        a {
            color: $NAV_TEXT;
            text-decoration: none;
            font-size: 24px;

            &::first-letter {
                color: $EDK_RED;
            }
        }
    }
}