@import '../../theme/variables.scss';

$MAIN_NAV_HEIGHT_WITH_BORDER: unquote('calc( 100vh - #{$MAIN_NAV_HEIGHT} - 2px )'); 

.SideBar {
    background-color: $DARK_BACKGROUND;
    width: $SIDE_NAV_WIDTH;
    height: $MAIN_NAV_HEIGHT_WITH_BORDER;
    border-right: $NAV_BORDER;
}
